.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.app-menu{
  background-color: white !important;
    border-radius: 19px !important;
    color: black !important;
    padding: 10px 5px !important;
    font-family: fantasy !important;
}
.home-menu{
  margin: 0px 0px 0px 0px !important;
}
.deleteicon,.editicon{
  width:27px !important;
}
 